.forgot-password {
    margin-top: 1rem;
    text-align: center;
  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .forgot-password-container {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 400px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .wide-input {
    width: 400px; 
    padding: 5px; 
  }

  .submit{
    margin-top: 17px ;
  }