<div class="forgot-password-container">
    <h2>Reset Password</h2>
    <p>Please enter your registered email address. We will send you a link to reset your password.</p>
    
    <form (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm">
      <div>
        <input id="email" type="email"  placeholder="Email:" formControlName="email" class="wide-input" />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          <small>Please enter a valid email.</small>
        </div>
      </div>
      <button class= "submit" type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
    </form>
  </div>
