<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <h4 class="header">Admin Dashboard</h4>
    <button class="add-company-btn" (click)="openAddCompanyForm()">
      + Add Company
    </button>
  </div>

  <div class="dashboard-container">
    @for (company of companies; track company.id) {
      <div class="company-card" (click)="goToProducts(company.id)">
        <img [src]="getImageUrl(company.imageUrl)" alt="{{ company.name }}" class="company-logo" />
      </div>
    }
  </div>
</div> 