<div class="login-container">
    <h2 class="loginHeader">Marketing Materials Hub</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div>
        <label for="email">Email:</label>
        <input id="email" placeholder="username" type="email" formControlName="email" />
        
        <!-- Using *ngIf for conditional rendering -->
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <div class="error-message">Please enter a valid email.</div>
        </div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" placeholder="password" type="password" formControlName="password" />
        
        <!-- Using *ngIf for conditional rendering -->
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <div class="error-message">Password is required.</div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <button type="submit" class="submit" [disabled]="loginForm.invalid">Login</button>
      
       <div class="remember-container">
          <div class="remember-me">
              <input  type="checkbox" formControlName="rememberMe"/> Remember Me
          </div>
          <div class="forgot-password">
            <a routerLink="/forgotpassword" routerLinkActive="active">Forgot Password?</a>
        </div>
       </div>  
    </form>
</div>