.login-container {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 400px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container form div {
    margin-bottom: 15px;
  }
  
  .login-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .forgot-password a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .submit {
    margin-bottom: 10px;
  }

  .small {
    color: red;
  }

  #email {
    border: ridge;
    outline: none; 
    background-color: transparent; 
  }
  
  #email:hover {
    outline: 2px solid #007bff; /* Blue outline on hover */
    border: none;
    border-radius: 4px; /* Optional: Slightly rounded corners */
  }